body {
    color: var(--color-grey700);
}

#hero {
    background: rgb(99,102,241);
    background: linear-gradient(0deg, rgba(99,102,241,0.10127801120448177) 0%, rgba(218,70,239,0.04525560224089631) 42%, rgba(241,244,253,0.06766456582633051) 83%);
}

#work {
    background-color: var(--color-grey100);
}

#clients {
    background-color: var(--color-grey100);

    .btn-quotation {
        box-shadow: 2px 5px 10px var(--color-grey500);
    }
    .card {
        background-color: var(--color-white);
        color: var(--color-grey700);
        box-shadow: 2px 5px 10px var(--color-grey400);
    }
    .name {
        color: var(--color-grey900);
    }
    .job {
        color: var(--color-grey600);
    }
}

#faq .list-item {
    background-color: var(--color-white);
    box-shadow: 1px 4px 4px var(--color-grey300);
}