@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@media (prefers-redused-motion: no-preferens) {
    :root {
        scroll-behavior: smooth;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

img, svg {
    vertical-align: middle;
}

body {
    @include text;
}